<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hydux Router-SSR example</title>
</head>
<body>
  <div id="root"><%= html %></div>
  <script src="/static/dist/vendor.dll.js" charset="utf-8"></script>
  <script src="/static/dist/bundle.js" charset="utf-8"></script>
</body>
</html>
